<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-3">
    <h1 class="text-center">Edit <%=campground.title%></h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PATCH" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label> 
            <input type="text" class="form-control" name="campground[title]" id="title" placeholder="title" value="<%=campground.title%>">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label> 
            <input type="text" class="form-control" name="campground[location]" id="location" placeholder="location" value="<%=campground.location%>">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label> 
            <input type="Number" step="0.01"  class="form-control" name="campground[price]" id="price" placeholder="price" value="<%=campground.price%>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label> 
            <input type="text" class="form-control" name="campground[image]" id="image" placeholder="image" value="<%=campground.image%>">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label> 
            <textarea class="form-control" name="campground[description]" id="" >
                <%=campground.title%>
            </textarea>
        </div>
        <div class="mb-3">
           <button class="btn btn-info">Submit</button>  
        </div>
    </form>
    <div><a href="/campgrounds/<%=campground._id%>">Back</a></div>
</div>



